html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body { background: #f3f3f3; }
.logo { text-align: center; margin: 0 auto 0; padding:30px 0;background:#353539;}
.wrapper { background: #fff; max-width: 560px;position: relative; margin: 0; padding: 37px 52px 30px; border-radius: 0; float: right;box-sizing: border-box; height: calc(100vh - 89px);overflow: auto;}
.wrapper::-webkit-scrollbar{height: 10px;width: 5px;}
.wrapper::-webkit-scrollbar-thumb{background: #353539;border-radius: 10px;}
.carousel_v3, .v2_highlight, .v2_reviews {padding-bottom: 20px;}
.v2_carousel {padding: 20px 10px 60px;}
.v2_badge {padding: 20px;}

.stars_v3 { padding: 20px; display: flex; gap: 20px; justify-content: space-between; flex-wrap: wrap; }
.stars_v3 section { width: 45%; text-align: center; background: #f2f2f2; flex-grow: 1; border-radius: 20px; display: flex; flex-direction: column; align-items: center; padding: 10px; }
.stars_v3 section h1 { margin: 0; font-size: 23px; font-family: "trebuchet ms"; margin-bottom: 12px; }
.stars_v3 section:first-child h1 { margin-bottom: 17px; }

.yotpo-widget-instance[mode-preview="true"] .yotpo-reviews-tab-layout.yotpo-align-text.yotpo-reviews-tab-layout-preview { height: auto; }
.yotpo-display-l .yotpo-base-layout { width: 100% !important; }

@media only screen and (max-width: 600px) {
    .wrapper {
        padding: 0;
        margin: 20px 0 0;
    }
    body {
        background: #fff;
    }
}
